*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 4000px;
}

.container{
    width: 1200px;
    margin: auto;
}
nav{
    font-weight: bold;
    color: white;
    background-color: darkcyan;
    height: 0;
    position: relative;
    z-index: 10;
    /*todo position: relative; and z-index  */
}

nav .brand{
    float: left;
    width: 30%;
    text-transform: uppercase;
}
nav .links{
    float: left;
    width: 70%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
nav .links li{
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    text-transform: uppercase;
}
nav .links li a{
    color: white;
    text-decoration: none;
}

nav .links li.active a,
nav .links li a:hover
{
    color: mediumseagreen;
    border-bottom: 1px solid mediumseagreen;
}


/*header*/
.header{
    background: url("../images/header.jpg");
    background-size: 100% 100%;/*cover*/
}


/*slider*/
.bx-wrapper{
    /*height: 100% !important;*/
    background: none;
    border: 0;
}
.bx-viewport{
    /*text-align: center;*/
    background: none;
    height: 100% !important;
}
.slider{
    text-align: center;
    background-color: red;
}
.slider li{
    display: block;
    padding-top: 360px;
    color: white;
}
.slider li h2{
    font-size: 50px;
}
.slider li span{
    color: mediumseagreen;
}

/*services*/
.services{
    margin-top: 50px;
}

.services .item{
    float: left;
    width: 30%;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 75px;
}

.services .item i{
    color: mediumseagreen;
    float: left;
    width: 25%;
    margin-right: 5%;
}

.services .item .info{
    float: left;
    width: 70%;
}

.services .item .info h3{
    font-weight: normal;
}

.services .item .info p{
    color: dimgrey;

}

.special-heading{}

.special-heading:after{
    content: "";
    display: block;
    width: 130px;
    border: 1px solid cornflowerblue;
    margin-top: 5px;
    left: 0px;

}
.fix-float{
    clear: both;
}
.our-team{
    /*background-color: chocolate;*/
    margin-top: 50px;
}

.box:first-child{
    float: left;
    width: 30%;
    height: 175px;
    padding-right: 35px;
    text-align: left;
}


.box{
    float: left;
    width: 17%;
    height: 175px;
    text-align: right;
    /*border: 2px solid red;*/
}

.box:not(:first-child){
    margin-top: 25px;
}

.box img{
    width: 80%;
    height: 80%;
}

.testimonial{
    background-image: url("../images/background.jpg");
    background-size: cover;
    height: 450px;
    text-align: center;
}
.testimonial .container{
    margin-top: 20px;
    color: white;
}
.testimonial .container h2{
    padding-top: 50px;
}

.testimonial .container h2:after{
    margin: auto;
    width: 200px;
    margin-top: 10px;
    border: 2px solid darkgoldenrod;
}
.testimonial  q{
    font-size: 18px;
    line-height: 2;
}

.testimonial p{
    color: darkgoldenrod;
    font-size: 25px;
}
.testimonial .custom-slider .active{
    display: block;
}

.testimonial .custom-slider >div{
    display: none;
}
