*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 3000px;
}

.container{
    width: 1200px;
    margin: auto;
    height: 100%;
    display: table;
}

.table{
    height: 100%;
    display: table;
}
.table-row{
   /*
    display: table-row;
   */
    display: table-cell;
    vertical-align:middle;
}

.text-center{
    text-align: center;

}
.upper{
    text-transform: uppercase;
}

.main-color{
    color:orange;
}

.main-background{
    background-color:orange;
}

.overlay{
    background: rgba(49, 49, 49,0.3);
    height: 100%;
    width: 100%;
}
.clear-fix{
    clear: both;
}
.header{
    background:url("../images/gods-background.jpg");
    background-size: cover;
    color: azure;
    position: relative;
}

.header nav {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 20px 0;
    width: 100%;
}
.header nav .title{
    float: left;
}
.header nav .menu{
    float: right;
}
.header nav .menu .fa-bars:hover{
    color:orange;
}

.header .intro h1{
    font-weight: 100;
    margin-bottom: 10px;
}

.header .intro p{
    margin-bottom: 30px;
    line-height: 1.3;
    color: floralwhite;
}

.header button{
    background: transparent;
    padding: 5px 10px;
    margin: 0 10px 8px;
    border: 1px solid coral;
    border-radius: 5px;
    color: white;
    transition: all .5s linear;
}

.header button:hover{
    background-color: orange;
}

.header .arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.header .arrow:hover{
    color: orange;
}
.feature{
    padding: 45px;
}

.box{
    width: 23%;
    float: left;
    text-align: center;
}
.box i{
    border: 1px solid darkcyan;
    margin-bottom: 25px;
    color: coral;
}

.box i:hover{
    color: darkcyan;
    background: coral;
}

.box h3{
    margin-bottom: 10px;
}

.box p{
    line-height: 1.4;
    color: darkblue;
    font-weight: normal;
}

.subscribe{
    background:url("../images/gods-background.jpg");
    background-size: cover;
    color: #ffffff;

}

.subscribe form{
    margin: auto;
    padding: 50px 0;
    min-width: 25%;
    text-align: center;
}


.subscribe form input[type="email"]{
    padding: 4px;
    width: 200px;
    font-size: 20px;
    border-radius: 7%;
    border: 1px solid coral;
    position: relative;
    top: 3px;
    margin-right: 5px;
    color: darkcyan;
}
.subscribe form button{
    padding: 8px;
    width: 120px;
    border: 1px solid coral;
    color: darkcyan;
    font-weight: bold;
    border-radius: 5%;
}

.subscribe form button:hover{
    background-color: coral;
}

.our-work{
    margin-top: 25px;
}

.our-work h2{
    margin-top: 15px;
    margin-bottom: 10px;
}

.our-work p{
    margin-bottom: 20px;
    font-weight: bold;
}

.our-work .items-box{
    overflow: hidden;
}

.our-work .items-box .item {
    float: left;
    width: 32%;
    margin-left: 1.3%;
    overflow: hidden;
    position: relative;
}

.our-work .items-box .item .over{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247,96,14,0.4);
    color: white;
    display: none;
}
.our-work .items-box .item:hover .over{
    display: inline-block;
}

.our-work .items-box .item img{
    height: 400px;
    padding: 5px;
}
.show-more{
    color: cadetblue;
    background: none;
    border: 1px solid coral;
    width: 100px;
    font-weight: bold;
    padding: 5px;
}
.show-more:hover{
    background-color: coral;
    color: darkcyan;
}

.hiden{
    display: none;
}
